mat-toolbar {
  position: fixed;
  z-index: 1000;
  top: 0;
  width: 100%;
}

.title {
  font-weight: bold;
  font-style: italic;
  line-height: 0.7em;
  padding-top: 10px;
  padding-left: 30px;
}

.subtitle {
  font-weight: lighter;
  font-style: italic;
  padding-left: 30px;
}
