<div fxLayout="row">
  <div class="col">
    <div class="title-page"></div>
    <mat-card-header class="full-width">
      <mat-card-title>Register Login</mat-card-title>
    </mat-card-header>
  </div>
</div>

<form #formSearchRegister="ngForm" [formGroup]="searchRegisterForm">
  <mat-card class="search-register-card">
    <div class="row margin-left" fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayout.md="column">
      <div class="col">
        <mat-form-field class="full-width">
          <mat-label>Type to search register..</mat-label>
          <input
            matInput
            formControlName="registerLoginName"
            class="form-control"
            placeholder="Type some text to search..."
            #registerLoginName
            appUppercase
            required
          />
          <mat-error *ngIf="searchRegisterForm.controls['registerLoginName'].hasError('required')">
            Register's login name <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div>
        <button
          matTooltip="Search all login records that contain the characters entered"
          mat-raised-button
          class="color-button-pesquisar button-margin-botton"
          (click)="searchRegisterLogin(registerLoginName.value)"
        >
          Search
        </button>
        <button
          type="reset"
          matTooltip="Clear the search field"
          mat-raised-button
          color="accent"
          class="button-margin-botton"
          (click)="clear(formSearchRegister)"
        >
          Clear
        </button>
        <button
          mat-raised-button
          matTooltip="Add nem register"
          color="primary"
          class="button-margin-botton"
          (click)="createRegister()"
        >
          New Register Login
        </button>
      </div>
    </div>
  </mat-card>
</form>
<div class="margin-left" fxLayout="row">
  <div class="col">
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" class="full-width" matSort>
        <ng-container matColumnDef="Id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header >Id</th>
          <td mat-cell *matCellDef="let element">{{ element.id }}</td>
        </ng-container>

        <ng-container matColumnDef="LoginName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header >Login Name</th>
          <td mat-cell *matCellDef="let element">
            {{ element.loginName }}
          </td>
        </ng-container>

        <ng-container matColumnDef="Password">
          <th mat-header-cell *matHeaderCellDef mat-sort-header >Password</th>
          <td mat-cell *matCellDef="let element">
            {{ element.password }}
          </td>
        </ng-container>

        <ng-container matColumnDef="Observation">
          <th mat-header-cell *matHeaderCellDef mat-sort-header >Observation</th>
          <td mat-cell *matCellDef="let element" >
            {{ element.observation }}
          </td>
        </ng-container>

        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef >Actions</th>
          <td mat-cell *matCellDef="let element" >
            <button
              mat-icon-button
              matTooltip="{{ 'Change record ' + element.loginName }}"
              routerLink="/registerLogin/update/{{ element.Id }}"
            >
              <mat-icon class="edit-icon">edit</mat-icon>
            </button>
            <button
              mat-icon-button
              matTooltip="{{ 'Delete record ' + element.loginName }}"
              (click)="deleteRecord(element)"
            >
              <mat-icon class="delete-icon">delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">No records...</td>
        </tr>
      </table>
      <mat-paginator [pageSizeOptions]="[10, 30, 50, 100]" showFirstLastButtons></mat-paginator>
    </div>
  </div>
</div>
